language: elixir
cache:
  directories:
    - _build
    - deps
services:
  - docker
  - postgresql
addons:
  postgresql: "9.5"
  apt:
    packages:
      - postgresql-9.5-postgis-2.3
elixir:
  - 1.4.2
otp_release:
  - 19.2
apt:
  packages:
    - inotify-tools
env:
  global:
    - MIX_ENV=test
    - DOCKER_HUB_ACCOUNT=nebo15
    - MAIN_BRANCHES="master" # Branches on which you want version to be incremented
    - RELEASE_BRANCH="master"
    # Docker credentials
    - secure: "J89+7ZBGExX3cIH5NpLwPsnNsa7LhRshGMFtMrQFoAo6UwetQwx+Ezf54wQv4c8DGeRCAwJZWnYaS1SIaEKsqB7ogt4y2BXu3owSp/QFv/NKvB60Zu4aRmCVCdfXvUbOo+LCxpoJPQAoPUYcVL8uBhUslBLU7x5Dkqf8KxIGO/UewBNSn1GPZKJtx+N3s+3aji3kGsKfJZ2//7sO3t568kLENpjjiXUfqRi0OHSYQ867JmTq8hCMKAKuk9CV9747ibbLv2tXYoZPm/lWUOvdXmCDXNPM5L2K+ndAkdyYuxkkcpuEJyKeDRnW1rK6ILux0JNkjtI0Yq5Bv6ECwPD5eJ3EgcrGq/0ROmTvW1DJTHrvPBZTfA6+Wplpiu9Fxs1Z6g+xF7URbO8sbVeb0l9lbMqUlaTJ3uATKfClErC0pCm/hYRmVNshaBiiYGjoedGUK+3kuMCgr3Br9ctjP0cnN2Murwq5sxGXk7cxXAZh0sC1JhH+uls4sHDoeNjI4TRGrVJ9zkPI1S9V1mIB+6B1morT5wiIYJ3kCCLUc0eUgRDfVseTuEizc5jmPvZQN8X+n9RrJX7jmz3MUa2w4roek0E/LUq7P2smF7p7jvfDAjwvwwzYTm54t6dis9dpEoKIKcxzbdZhokhr+nhhJEvWrEvSaCOZFnAQPEoAgdPsXVA="
    - secure: "tAzm9bctTBQZVMIelBNqES1WrqHUiVntxZn9TnlydFifiCREVzkZjBDstgHfS5Qd0JTTEP457x6sGguLz9SplZzE850UARJwQhVDcvp1wPr62vlpsZTZg1OsFBGkB+DAAFdvCrkFQginr69mCylaLx6lJ1Z9jgMCP0zmELpl5TLz5VO8TeErL5HPq+aHI66ey3u5XHfoTcvr/8ivUg06VMGqJRxjHY9OQSQ4xxEs0tgQ7O5qUVOljHKUeFHCwx+qs/cZEA78GR5HYunnZTTsPvOZVgtBqkq/8tcNBmuMBLvGWi4gl4c5y1yqT/yY+A9b35p8w+VI5+/rrmhZtEzgElKHQ2T8r3vl8pYyu+pUfSRLaGXrAxkRopfZx3HNkbJXZaC8dGKkPr89KKqK4W7DWp//skK5gK0SDUIABfNWgng67rmfU3uPpcqx9toKunQQC3qkIDvxY3hpnCXQqDg9hX7EKArKy0fx66PmRGIqr3QhvVXPGRXmg3zfkUMe5hXGvcv6RXY6yGrox8m/RdJKKHMvb2JddPxPSY1lS1apk7enZv+demb2GYLcR0zUvYbsB/ajKYJMhkItAQuCtJAe53sZpBZtZ6xvKsgXO+HdIM874Gd5+chSJeA1kX/4Yozeobqs1FQvqDsn41cN3/e+JwlVetBJht4ZAGjLKrkIB58="
branches:
  # Releases are generated automatically, stop infinite build loop
  except:
    - /[0-9]*\.[0-9]*\.[0-9]*/
before_script:
  - psql -U postgres -c "create extension postgis"
before_install:
  # Expose MQ and DB to Docker container
  - sudo ./bin/ci/init-db.sh
script:
  # Increment version in mix.exs
  - ./bin/version-increment.sh
  # Run all tests except pending ones
  - mix test --exclude pending --trace
  # Submit code coverage report to Coveralls
  # Add --pro if you using private repo.
  - mix coveralls.travis --exclude pending
  # Run static code analysis
  - mix credo --strict
  # Check code style
  - mix dogma
  # Build Docker container
  - ./bin/build.sh
  # Initialize DB for Docker container
  - MIX_ENV=dev mix ecto.setup
  # Run Docker container
  - sudo ./bin/start.sh
  - sleep 5
  - docker ps
  - RUNNING_CONTAINERS=`docker ps | wc -l`;
  - if [ "${RUNNING_CONTAINERS//[[:space:]]/}" == "1" ]; then echo "[E] Container is not started\!"; docker logs prm --details --since 5h; exit 1; fi;
after_failure:
  - docker logs prm --details --since 5h
after_success:
  # Submit Docker container to Docker Hub and create GitHub Release by pushing tag with changelog
  - ./bin/ci/push.sh
